@import "src/styles/colors";
@import "src/styles/fonts";
@import "src/styles/bp";
.headerContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: background-color 0.3s;
  &.isSticky {
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0px 1px 5px 0px #eee;
    animation-name: sticky;
    animation-duration: 0.5s;
  }
  @include sm {
    background-color: #f6f6f6;
  }
  .header {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    flex: 1 1;
    @include sm {
      max-width: 95%;
    }
    .logoContainer {
      padding-block: 20px 16px;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
      @include sm {
        img {
          width: 150px;
          height: auto;
        }
      }
    }
    .navContainer {
      display: flex;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
      justify-content: center;
      align-items: center;
      ul {
        position: relative;
        list-style: none;
        display: flex;
        align-items: stretch;
        flex: 1 auto;
        flex-wrap: nowrap;
        height: 100%;
        li {
          position: relative;
          height: 100%;
          display: flex;
          align-items: center;
          a {
            font-family: $body-font;
            font-size: 15px;
            font-weight: 700;
            white-space: nowrap;
            padding-inline: 20px 12px;
            color: rgb(34, 34, 34);
            text-decoration: none;
            height: 100%;
            display: flex;
            align-items: center;
          }
          button {
            border: none;
            background: none;
            padding: 0;
            margin-left: -6px;
          }
        }
      }
      @include sm {
        background: #fff;
        width: 100%;
        max-height: 0;
        position: absolute;
        overflow: hidden;
        left: 0;
        top: 100%;
        z-index: 3;
        transition: all 0.3s;
        ul {
          position: relative;
          list-style: none;
          display: block;
          height: 100%;
          li {
            justify-content: space-between;
            a {
              font-size: 18px;
              padding-inline: 12px;
              padding-top: 20px;
            }
            button {
              margin-right: 30px;
              background-color: rgba(0, 0, 0, 0.05);
              height: 25px;
              width: 25px;
              border-radius: 3px;
            }
          }
        }
        &.active {
          max-height: 100vh;
        }
      }
    }
    .btnContainer {
      display: flex;
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      justify-content: flex-end;
      align-items: center;
      @include sm {
        justify-content: center;
        a {
          padding: 5px 12px;
          font-size: 14px;
        }
      }
    }
    .MobNavBtn {
      display: none;
      @include sm {
        display: flex;
        align-items: center;
        button {
          border: none;
          background: none;
          .bars {
            width: 20px;
            height: 15px;
            .barsInner {
              display: flex;
              width: 100%;
              height: 100%;
              border-radius: inherit;
              flex-direction: column;
              .bar {
                position: relative;
                background-color: #000;
                width: 20px;
                height: 2px;
                border-radius: 50em;
                margin-bottom: 4.25px;
                &:nth-child(2) {
                  width: 16px;
                  transition: all 0.3s;
                  &::before {
                    content: "";
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: inherit;
                    transition: all 0.3s;
                    background-color: inherit;
                    transform: rotate(0) translate(0, 0);
                  }
                }
              }
            }
            &.active {
              .barsInner {
                .bar {
                  opacity: 0;
                  &:nth-child(2) {
                    opacity: 1;
                    width: 22px;
                    margin-inline-end: auto;
                    transform: rotate(45deg);
                    transition-delay: 0.1s;
                    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
                    &::before {
                      transform: rotate(-90deg);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@keyframes sticky {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
