@import "src/styles/colors";
@import "src/styles/bp";
.OurApproachTabbed {
  margin-block: 80px;
  * {
    box-sizing: border-box;
  }
  @include sm {
    margin-block: 0 40px;
  }
  .wrap {
    max-width: 1240px;
    margin-inline: auto;
    @include sm {
      padding-inline: 15px;
    }
    h2 {
      text-align: center;
    }
    .tabNav {
      display: flex;
      flex-wrap: wrap;
      margin-block: 60px 40px;
      @include sm {
        margin-block: 20px 40px;
      }
      .btnContainer {
        &:not(:last-of-type) {
          margin-inline-end: 15px;
        }
        @include sm {
          width: 100%;
          margin: 10px 0 0 !important;
        }
        button {
          background: #fff4f4;
          color: rgb(252, 45, 45);
          padding: 15px;
          width: 290px;
          text-align: center;
          border-radius: 35px;
          border: none;
          cursor: pointer;
          @include sm {
            width: 100%;
          }
        }
        &.active {
          button {
            color: #fff;
            background: $color-primary;
          }
        }
      }
    }
    .content {
      display: flex;
      flex-wrap: wrap;
      .imgContainer {
        width: 50%;
        padding-inline: 15px;
        box-sizing: border-box;
        @include sm {
          width: 100%;
          padding-inline: 0;
        }
        .img {
          border-radius: 20px;
        }
      }
      .ContentBox {
        width: 50%;
        display: flex;
        align-items: stretch;
        padding: 130px 50px 70px 0;
        position: relative;
        @include sm {
          width: 100%;
          padding: 40px 15px 70px 0;
        }
        &::before {
          content: "";
          background: #fff4f4;
          position: absolute;
          width: 675px;
          height: 90%;
          top: 55px;
          right: 15px;
          z-index: 0;
          border-radius: 20px;
          @include sm {
            top: 20px;
            right: 0;
          }
        }
        .box {
          position: relative;
          z-index: 1;
          h3 {
            font-size: 38px;
            line-height: 1.5;
            margin-block: 0 30px;
            @include sm {
              font-size: 28px;
              margin-block: 0 20px;
            }
          }
          p {
            margin-bottom: 30px;
          }
          ul {
            padding-left: 15px;
          }
          table {
            width: 100%;
            border: 1px solid #dedede;
            margin-bottom: 30px;
            td:not(:last-child),
            th:not(:last-child) {
              border-inline-end: 1px solid #dedede;
              padding-top: 0.8em;
              padding-bottom: 0.8em;
              padding: 0.5em 1em;
            }
            tr {
              th {
                border-block-end: 1px solid #dedede;
              }
              &:not(:last-child) {
                td {
                  border-block-end: 1px solid #dedede;
                }
              }
            }
          }
        }
      }
    }
  }
}
