@import "src/styles/colors";
@import "src/styles/bp";
.HomeHero {
  position: relative;
  overflow: hidden;
  .particles {
    z-index: -1;
    .particlesCanvas {
      position: absolute !important;
      height: 100% !important;
      display: block !important;
      z-index: -1;
    }
  }
  .HeroContent {
    position: relative;
    width: 100%;
    display: flex;
    z-index: 2;
    .Left {
      width: 43%;
      padding: 10% 2% 0 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include xxl {
        width: 29%;
        padding: 5% 3% 5% 18%;
      }
      h2 {
        line-height: 1.15;
        font-size: 50px;
        color: #000000;
        margin-bottom: 0.3em;
        margin-top: 0.2em;
        span {
          display: inline-block;
        }
      }
      .Content {
        p {
          margin: 0;
          line-height: 1.5em;
        }
      }
      .Cta {
        margin-top: 2em;
        display: flex;
        .btnContainer {
          width: 50%;
          a {
            display: inline-block;
            text-transform: uppercase;
          }
        }
        .CnContainer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          p {
            font-size: 18px;
            color: #000000;
          }
          a {
            font-size: 18px;
            text-decoration: none;
            color: $color-primary;
          }
        }
      }
    }
    .Right {
      width: 50%;
      position: relative;
      .Image {
        position: relative;
        z-index: 1;
      }
      .playBtn {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        a {
          display: inline-flex;
          padding: 0;
          position: relative;
          transition: all 0.3s;
          & > span {
            display: inline-flex;
            border-radius: inherit;
            border-color: inherit;
            align-items: center;
            & > span {
              background: #ffffff;
              color: rgb(0, 0, 0);
              font-size: 22px;
              width: 3.5em;
              height: 3.5em;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              transition: all 0.3s;
              svg {
                width: 12px;
              }
              &::before {
                content: "";
                display: inline-block;
                position: absolute;
                top: -2px;
                left: -2px;
                bottom: -2px;
                right: -2px;
                border-radius: inherit;
                border: 1px solid #ffffff;
                animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both
                  infinite;
              }
            }
          }
          &:hover {
            & > span > span {
              background: $color-primary;
              svg {
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}
/* Animations */
@keyframes btnIconRipple {
  0% {
    border-width: 4px;
    transform: scale(1);
  }
  80% {
    border-width: 1px;
    transform: scale(1.35);
  }
  100% {
    opacity: 0;
  }
}
