@import "src/styles/bp";
.OurVision {
  @include sm {
    * {
      box-sizing: border-box;
    }
  }
  .wrap {
    max-width: 1240px;
    margin-inline: auto;
    @include sm {
      padding-inline: 15px;
    }
    .content {
      width: 80%;
      h2 {
        margin-top: 0;
      }
      @include sm {
        width: 100%;
      }
    }
  }
}
