@import "src/styles/colors";
@import "src/styles/bp";
.LeftAccordionRightImage {
  .wrap {
    & * {
      box-sizing: border-box;
    }
    max-width: 1240px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    @include sm {
      padding-inline: 15px;
    }
    .top {
      width: 100%;
      padding-bottom: 30px;
      h2 {
        margin-top: 0;
      }
      @include sm {
        padding-bottom: 0px;
      }
    }
    .left {
      width: 50%;
      padding-inline-end: 30px;
      &.width60 {
        width: 60%;
      }
      @include sm {
        width: 100% !important;
        padding-inline-end: 0px !important;
      }
      .accordionItem {
        button {
          display: block;
          width: 100%;
          text-align: start;
          padding-left: 0;
          padding-block: 0.65em;
          background: none;
          border: none;
          color: $color-primary;
          border-bottom: 1px solid #dadde1;
          font-size: 18px;
          padding-right: 0;
          line-height: 1.6;
          font-weight: 500;
          cursor: pointer;
          svg {
            float: right;
            font-size: 14px;
            margin-top: 0.65em;
            transition: all 0.2s ease-out;
          }
          &[aria-expanded="true"] {
            svg {
              transform: rotate(90deg);
            }
          }
        }
        .text {
          max-height: 0;
          overflow: hidden;
          transition: all 0.2s ease-out;
          .content {
            margin-top: 0.65em;
          }
        }
      }
    }
    .right {
      width: 50%;
      &.width40 {
        width: 40%;
      }
      @include sm {
        width: 100% !important;
        margin-top: 30px;
      }
      .Image {
        display: block;
        width: 100%;
        border-radius: 20px;
      }
    }
  }
}
