.ImageBoxGrid {
  .wrapper {
    max-width: 1240px;
    margin: 0 auto;
    .topContent {
      margin-bottom: 80px;
      p {
        width: 70%;
      }
    }
    .gridWrap {
      max-width: 1120px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
    }
  }
}
