@import "src/styles/bp";
.ConsultForm {
  & * {
    box-sizing: border-box;
  }
  margin-bottom: 80px;
  @include sm {
    margin-bottom: 40px;
  }
  .wrap {
    max-width: 1240px;
    margin-inline: auto;
    @include sm {
      padding-inline: 15px;
    }
    .formContainer {
      max-width: 75%;
      margin-inline: auto;
      padding: 60px;
      background: #fff4f4;
      border-radius: 20px;
      @include sm {
        max-width: 100%;
        padding-inline: 20px;
        padding-block: 30px;
      }
      .top {
        text-align: center;
        h2 {
          margin-top: 0;
        }
      }
      .bottom {
        margin-top: 40px;
        form {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
          textarea {
            width: 100%;
            border: none;
            outline: none;
            padding: 13px 16px;
            margin-bottom: 24px;
            font-size: 15px;
            background: #fff;
            border-radius: 30px;
            @include sm {
              margin-bottom: 15px;
            }
          }
          input[type="button"],
          input[type="submit"] {
            padding: 14px 30px !important;
            background: rgb(253, 45, 45);
            color: #fff;
            outline: none;
            border: none;
            border-radius: 30px;
          }
          .inputWrap {
            width: 32%;
            @include sm {
              width: 100%;
            }
            &.inputWrapFull {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
