@import "src/styles/bp";
.CulturalPreservation {
  display: flex;
  flex-wrap: wrap;
  margin-block: 100px 0;
  @include sm {
    margin-block: 50px 0;
  }
  .left {
    width: 50%;
    position: relative;
    @include sm {
      width: 100%;
    }
  }
  .right {
    width: 50%;
    display: flex;
    align-items: center;
    @include sm {
      width: 90%;
      margin-inline: auto;
      margin-top: 50px;
    }
    .wrap {
      max-width: 570px;
      padding-left: 50px;
      @include sm {
        padding-left: 0;
      }
      .textHighlight {
        margin-top: 35px;
        color: #000;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 10px;
        @include sm {
          margin-top: 15px;
        }
      }
      .ListElm {
        margin-top: 30px;
        h3 {
          font-size: 18px;
        }
        ul {
          list-style: none;
          margin-bottom: 30px;
          padding-inline-start: 16px;
          margin-top: 25px;
          li {
            position: relative;
            margin-block-end: 20px;
            @include sm {
              margin-block-end: 15px;
            }
            &::before {
              position: absolute;
              content: "";
              width: 5px;
              height: 5px;
              background: #fc2d2d;
              top: 10px;
              left: -15px;
            }
          }
        }
      }
    }
  }
}
