@import "src/styles/bp";
.LeftContentRightImage {
  @include sm {
    * {
      box-sizing: border-box;
    }
  }
  .wrap {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    @include sm {
      flex-direction: column-reverse;
    }
    .left {
      width: 50%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include sm {
        width: 100%;
        padding-inline: 15px;
        margin-top: 2em;
      }
      .content {
        h2 {
          margin-bottom: 0.65em;
        }
        .TextHighLight {
          font-weight: 700;
          font-size: 18px;
          margin-bottom: 10px;
        }
        margin-bottom: 2em;
      }

      a {
        @include sm {
          padding-inline: 40px;
          text-align: center;
          white-space: pre-wrap;
        }
      }
    }
    .right {
      width: 41%;
      margin-left: 9%;
      @include sm {
        width: 100%;
        padding-inline: 15px;
        margin-left: 0;
      }
      .img {
        border-radius: 6px;
        animation: lqdFIFloatOne 1s ease infinite alternate;
        animation-delay: 0s;
        @include sm {
          animation: unset;
        }
      }
    }
  }
}

@keyframes lqdFIFloatOne {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(3%);
  }
}
