@import "src/styles/fonts";
@import "src/styles/bp";
.LogoFlex {
  .wrap {
    max-width: 1240px;
    margin: 0 auto;
    padding-block: 20px 30px;
    background: #f3f3f3;
    .SectionText {
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        font-weight: 400;
        font-size: 13px;
        text-transform: uppercase;
      }
      p {
        font-family: $heading-font;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.6em;
        color: #000000;
        width: 60%;
        text-align: center;
        margin-bottom: 1.5em;
        @include sm {
          width: 90%;
        }
      }
    }
    .logoContainer {
      display: flex;
      @include sm {
        flex-wrap: wrap;
      }
      .logo {
        margin-inline: 15px;
        margin-block-end: 15px;
        @include sm {
          width: calc(50% - 30px);
        }
      }
    }
    .bottom {
      text-align: center;
      padding-top: 30px;
      a {
        text-decoration: none;
        font-family: $heading-font;
        color: #fc2d2d;
      }
    }
  }
}
