.heroBg {
  min-height: calc(100vh - 81.19px);
  margin-top: 81.19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .BgImageOverlay {
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: -100;
  }
  .content {
    width: 1210px;
    height: 100%;
    margin-inline: auto;
    h1 {
      color: #ffffff;
      font-size: 50px;
    }
  }
  .BgImageShape {
    height: 60px;
    width: 100vw;
    position: absolute;
    bottom: -1px;
    z-index: 1;
    svg {
      width: 100%;
      height: 100%;
      position: relative;
    }
  }
}
