@import "src/styles/bp";
.ImageFlex {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  :global(.marquee) {
    justify-content: space-around;
  }
  :global(.overlay) {
    display: none;
  }
  .image {
    width: 23%;
  }
}
